.calendar {
	top: 0em;
	left: 1em;
	padding-top: 5px;
	width: 100px;
	background: lightgray;
	font-size: 54px;
	text-align: center;
	color: white;

	border-radius: 3px;
	position: absolute;
}

.calendar em {
	display: block;
	font-size: 15px;
	color: pink;
	background: #04599a;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.calendar::before,
.calendar:after {
	content: "";
	float: left;
	width: 12px;
	height: 12px;
	background: black;
	z-index: 1;
	border-radius: 10px;
	box-shadow: 0 1px 1px pink;
}
.calendar::before {
	position: absolute;
	top: 5px;
	left: 10px;
}
.calendar::after {
	position: absolute;
	top: 5px;
	right: 10px;
}

.calendar em::before,
.calendar em::after {
	content: "";
	margin: 10px;
	width: 6px;
	height: 20px;
	background: lightgray;
	z-index: 2;
	border-radius: 5px;
}
.calendar em::before {
	position: relative;
	top: -87px;
	left: 3px;
	float: left;
}
.calendar em::after {
	position: relative;
	top: -87px;
	left: -3px;
	float: right;
}
